*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
SiSiLive.iml
app/app.iml
app/build/
ijkplayer-java/ijkplayer-java.iml
ijkplayer-java/build/
ijkplayer-exo/ijkplayer-exo.iml
ijkplayer-exo/build/
ijkwidget/ijkwidget.iml
ijkwidget/build/
androidHorizontalListView/androidHorizontalListView.iml
androidHorizontalListView/build/
thirdpay/build/
thirdpay/thirdpay.iml
/leancloudchatkit/build/
/leancloudchatkit/leancloudchatkit.iml